* {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: rgb(221, 182, 219);
font-family: 'Lucida Handwriting', 'sans-serif';
text-align: center;
/*outline: 2px dotted red; */
}

.title {
    text-decoration: underline;
    margin: 20px;
}

.welcome {
    margin: 20px;
}

ul {
    list-style-type: none;
}

li {
    outline: 2px dotted purple;
    padding: 50px;
    width: 250px;
    margin-left: 35%;
}

li > img {
    width: 150px;
    height: 150px;
}

a {
    text-decoration: none;
    font-size: 30spx;
}