* {
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: rgb(221, 182, 219);
font-family: 'Lucida Handwriting', 'sans-serif';
text-align: center;
/*outline: 2px dotted red; */
}

.container {
    margin: 20%;
}

.title {
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

li {
    outline: 2px dotted purple;
    width:300px;
}

li > img {
    width: 150px;
    height: 150px;
}